Parser/Parser.suo
Parser/Parser/bin/Debug/Parser.exe
Parser/Parser/bin/Debug/Parser.pdb
Parser/Parser/bin/Debug/Parser.vshost.exe
Parser/Parser/bin/Debug/Parser.vshost.exe.manifest
Parser/Parser/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Parser/Parser/obj/x86/Debug/Parser.csproj.FileListAbsolute.txt
Parser/Parser/obj/x86/Debug/Parser.exe
Parser/Parser/obj/x86/Debug/Parser.pdb
